<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <head>
    <title>Draw</title>
    <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>
    <style type='text/css'>
        #canvasimg 
        {
            border:1px solid black;
        }
    </style>
    <script type='text/javascript'>
        window.onload=function(){
            var canvas = new fabric.Canvas('canvasimg');
            canvas.isDrawingMode = true;
            canvas.freeDrawingBrush.width = 10;
            canvas.freeDrawingBrush.color = "#ffffff";
            canvas.backgroundColor = '#000000';
            canvas.renderAll();
        }
        function erase() 
        {
            var canvas = document.getElementById("canvasimg")
            // canvas.clear();
            // canvas.renderAll();
            canvas.dispose();
        }
    
        function save() 
        {
            document.getElementById("canvasimg").style.border = "2px solid";
            var dataURL = canvas.toDataURL();
            // var dataURL = document.getElementById("canvasimg").toDataURL();
            document.getElementById("canvasimg").src = dataURL;
            console.log(dataURL);
            document.getElementById("canvasimg").style.display = "inline";

            const img = document.getElementById("canvasimg").src
            console.log(img)

            var postData = { img_base64: img }

            $.ajax({
            url: "/output",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(postData),
            success: function(data){/* do something */}
            });

            erase();
        }
    </script>


    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <style>
      body {
        font-family: "Inter", sans-serif;
      }
    </style>


  </head>
  <body class="min-h-screen bg-gray-100 text-gray-900 flex justify-center">
    <div class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1">
        <!-- <h1 class="text-2xl xl:text-3xl font-extrabold" style="text-align: center; margin: 50px;">
            Draw
        </h1> -->
        <canvas id="canvasimg" width="400" height="400"></canvas>
        <input class="text-2xl font-extrabold" type="button" value="save" id="btn" size="50" onclick="save()" style="position:absolute; top:65%; left:10%; margin-left: 185px; font-size: 20; padding: 10px; background-color: rgb(102,126,234); color: white;">
        <input class="text-2xl font-extrabold" type="button" value="clear" id="clr" size="50" onclick="erase()" style="position:absolute; top:65%; left:15%; margin-left: 195px; font-size: 20; padding: 10px; background-color: rgb(102,126,234); color: white;">
    </div>

    <div class="flex-1 bg-indigo-100 text-center hidden lg:flex">
        <div
          class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat"
          style="background-image: url('https://storage.googleapis.com/devitary-image-host.appspot.com/15848031292911696601-undraw_designer_life_w96d.svg');"
        ></div>
      </div>

  </body>
</html>