<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
  </head>
    <body>
        <center>
          <h1>Sign In</h2>


            </div>

            <div name="login">

                <form action = "http://127.0.0.1:5000/sign_in.html" method = "POST" enctype = "multipart/form-data">

                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>
                    </div>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    </div>
                    <button type="submit">Submit</button>
                    <h4> Don't have an account?
                      <a href="/signup.html">Sign Up</a>
                    </h4>

                </form>
            </div>            
        </center>
    </body>
</html>